 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 }

 a {
     text-decoration: none;

 }


 body {
     background-color: #0f1620;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     margin-top: 15px;
 }

 .wallet {
     background-color: #FF8584;
     border-radius: 20px;
     width: 100px;
     height: 35px;
     justify-content: center;
     align-items: center;
     display: flex;
     cursor: pointer;
     gap: 0.7em;

 }

 h3 {
     color: #fff;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 14px;
     letter-spacing: 1px;
     font-weight: 500;
 }

 .setting {
     position: absolute;
     right: 0;
     margin-right: 20px;
 }

 p.settingtext {
     color: #8a94a0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     cursor: pointer;
 }


 .link[aria-current="page"] {
     color: #44aff5;
 }

 a.link {
     color: #8a94a0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     cursor: pointer;
 }


 .nav {
     display: flex;
     position: fixed;
     bottom: 0px;
     justify-content: space-evenly;
     align-items: center;
     margin-bottom: 10px;
     width: 100vw;
 }

 .mainNav {
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .main {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column
 }

 .nav1 {
     cursor: pointer;
 }

 .nav2 {
     cursor: pointer;
 }

 img {}

 .balance {
     color: #fff;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 1px;
     margin-top: 60px;
     font-weight: 600;
     font-size: 45px;

 }

 .id {
     color: #8a94a0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 14px;
     font-weight: normal;
 }

 .moneyid {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .actionText {
     text-decoration: none;
     color: #8a94a0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     cursor: pointer;
     font-weight: 400;
     font-size: 15px;
 }

 .actions {
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     justify-content: center;
     margin-top: 50px;
 }

 .quickAction1,
 .quickAction2 {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;
     gap: 0.4em;
 }

 .quickAction1,
 .quickAction2 {
     width: 100px;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .action1,
 .action2 {
     display: flex;

 }

 .quickAction1:nth-child(2) {
     border-bottom: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at bottom right,
             hsl(0 0% 30%/0.5),
         );
     border-image-slice: 1;
 }

 .quickAction1:nth-child(1) {
     border-bottom: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at bottom right,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .quickAction1:nth-child(1) {
     border-right: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at bottom right,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .quickAction1:nth-child(3) {
     border-left: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at bottom left,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .quickAction2:nth-child(1) {
     border-right: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at top right,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .quickAction2:nth-child(3) {
     border-left: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at top left,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .quickAction1:nth-child(3) {
     border-bottom: 1px solid hsl(0 0% 30%/0.5);
     border-image-source:
         radial-gradient(circle at bottom left,
             hsl(0 0% 30%/0.5), transparent 50%);
     border-image-slice: 1;
 }

 .nav1,
 .nav2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.4em;
 }

 .walleticon[aria-current="true"] {
     color: #44aff5;
 }